<%= form_for(@thesis, :html => { :multipart => true }) do |f| %>
  <% if @thesis.errors.any? %>
    <div id="error_explanation" class="error_explanation">
      <h3><%= pluralize(@thesis.errors.count, "error") %> prohibited this thesis from being saved:</h3>

      <ul>
      <% @thesis.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :author %><br />
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.label :year %><br />
    <%= f.number_field :year %>
  </div>
  <div class="field">
    <%= f.label :file %><br />
    <%= file_field_tag 'file' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
